/* app wide css */

.t-centered {
    text-align: center;
}

.bg-color-x1 {
    background-color: #72837b;
}

.navbar a, a.btn.btn-link {
    color: inherit;
}

span.tiny-version {
    font-size: 0.8rem;
    vertical-align: top;
}

.card {
    border-color: #353d48;
}

img.emote {
    height: 2em;
}

.panel {
    border: .05rem solid #48515b;
}

.profile-card p {
    margin: 0 0 0.3rem;
}
