@page

@{
    ViewBag.Title = "Dash";
    ViewBag.Auth = true;
    Layout = "_ShowLayout";
}

<article>
    <div id="dash" style="display:none">
        <div class="container">
            <div class="columns">
                <div class="column col-6 col-md-8 col-sm-12 col-mx-auto">
                    <h1>dash</h1>
                    <div class="card profile-card">
                        <div class="card-header">
                            <div class="card-title h5">
                                <span id="profile-name"/>
                            </div>
                            <div class="card-subtitle text-gray">
                                <span id="profile-pronouns"/>
                            </div>
                            <div class="card-subtitle text-gray">
                                @@<span id="profile-username"/>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                email: <a id="profile-email"></a>
                            </p>
                            <p>
                                joined on <span id="profile-registered"/>
                            </p>
                            <p>
                                uuid <code id="profile-uuid"></code>
                            </p>
                            <p>
                                groups: <span id="profile-groups">none</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">cool</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="load" class="loading loading-lg"></div>
</article>

<script type="text/javascript" asp-append-version="true" src="~/js/dash.js"></script>