@page

@{
    ViewBag.Title = "Dash";
    ViewBag.Auth = true;
    Layout = "_ShowLayout";
}

<article>
    <h1>Dashboard</h1>
    <p>
        This page is for authenticated users.
        <pre>@DateTime.Now</pre>
    </p>
</article>
