@page

@{
    ViewBag.Title = "Memo";
    Layout = "_ShowLayout";
}

<article>
    <h1>Memo</h1>
    <p>
        Demonstrate save and loading a memo.
    </p>
    <div id="view"></div>
</article>

<script type="text/moon" asp-append-version="true" src="~/moon/memo.js"></script>