@page

@{
    ViewBag.Title = "Time";
}

<div class="container">
    <div class="columns">
        <div class="col-6 col-md-10 mt-2 p-centered">
            <div class="header-image mt-2 mb-2">
                <img class="p-centered" src="~/img/app.png"/>
            </div>
            <h1>Time</h1>
            <p>
                This page is here to test getting the current system time. 
                <pre>@DateTime.Now</pre>
            </p>
        </div>
    </div>
</div>