@page

@{
    ViewBag.Title = "Time";
    Layout = "_ShowLayout";
}

<article>
    <h1>Time</h1>
    <p>
        This page is here to test getting the current system time.
        <pre>@DateTime.Now</pre>
    </p>
    <div id="view"></div>
</article>

<script type="text/moon" asp-append-version="true" src="~/moon/time.js"></script>