@{
    Layout = "_Layout"; // use the main layout as parent
}
<div class="container">
    <div class="columns">
        <div class="columns col-6 col-md-8 col-sm-10 col-mx-auto">
            <div class="container">
                <!-- show error if js is disabled -->
                <noscript>
                    <div class="toast toast-error">
                        please enable javascript to use this site
                    </div>
                </noscript>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}