@page
@{
    ViewBag.Title = "Login";
    Layout = "_ShowLayout";
}

<article>
    <h1 class="t-centered">fry access</h1>
    <p id="status">
        here you may access fry
    </p>
    <div id="user"></div>
    <a id="logout" class="btn">logout</a>
</article>

@section Scripts {
    <script type="text/javascript" asp-append-version="true" src="~/js/fry.js"></script>
}