@page
@{
    ViewBag.Title = "Home";
    Layout = "_ShowLayout";
}

<article>
    <h1 class="t-centered">
        frenchfry
    </h1>
    <p>
        this is website to order fry.
        log in to reach fry page.
    </p>
    <p>
        <a href="/login" class="btn btn-primary">login</a>
    </p>
</article>

